* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background: #eee;
    align-items: center;
    justify-content: start;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    font-size: 80px;
    font-weight: 150 !important;
}

.text-deco-none {
    text-decoration: none;
}

.text-color,
.typed-cursor {
    color: #3e0000;
}

.hero {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
}

