* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background: #eee;
    align-items: center;
    justify-content: start;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    font-size: 80px;
    font-weight: 150 !important;
}

.text-deco-none {
    text-decoration: none;
}

.text-color,
.typed-cursor {
    color: #3e0000;
}

.hero {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
}

/* --------------------------------------*/

.search-box {
    display: flex;
    justify-content: center;
}

.search {
    padding: 12px;
    border-radius: 8px;
    font-size: 1rem;
    border: 0;
    box-shadow: 1px 4px 4px #6b6b6b;
}

.search:focus {
    outline: none;
}

.data-box {
    display: flex;
    justify-content: center;
    margin: 12px 0;

}

.suggestions {
    background-color: white;
    padding: 0;
    list-style: none;
    width: 100%;
    max-width: 600px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    max-height: 70vh;
    overflow-y: auto;
}

.suggestions li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    border-bottom: 1px solid #efefef;
    transition: background 0.2s;
}

.suggestions li:last-child {
    border-bottom: none;
}

.suggestions li:hover {
    background: #f9f9f9;
}

.name {
    font-size: 16px;
    color: #333;
    text-align: left;
}

.population {
    font-size: 12px;
    color: #888;
    font-style: italic;
}

/* The highlight span you created in JS */
.highlight {
    background: #ffc600;
}