* {
    box-sizing: border-box;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.header-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 40px 0 40px 0;
    color: white;
    font-size: 80px;
    font-weight: 150 !important;
}

.text-deco-none {
    text-decoration: none;
}

.text-color,
.typed-cursor {
    color: white;
}

.hero {
    background-image: url("images/rain-window.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}

.clock {
    position: relative;
    width: 20rem;
    height: 20rem;
    border: 20px solid #dadada;
    border-radius: 50%;
    margin: 50px auto;
    padding: 1rem;
}

.mid-circle {
    width: 1rem;
    height: 1rem;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 51%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.clock-face {
    position: relative;
    width: 100%;
    height: 100%;
    transform: translate(-3px);
}

.hand {
    position: absolute;
    width: 50%;
    top: 50%;
    height: 10px;
    background: gold;
    transition: all 0.2s;
    transform-origin: 100%;
    transform: rotate(90deg);
    transition-timing-function: cubic-bezier(0, 1.39, 0.58, 1);
}

.hour-hand {
    width: 30%;
    left: 20%;
}

.minute-hand {
    width: 50%;
}

.second-hand {
    width: 45%;
    left: 5%;
    height: 3px;
    background-color: red;
}

.numbers {
    position: absolute;
    width: 100%;
    height: 100%;
}

.number {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    color: white;
}
