* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background: #eee;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
}

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    font-size: 80px;
    font-weight: 150 !important;
}

.text-deco-none {
    text-decoration: none;
}

.text-color,
.typed-cursor {
    color: #3e0000;
}

.hero {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
}

/* --------------------------------------*/
.voice {
    display: flex;
    flex-direction: column;
    background: white;
    border-radius: 12px;
}

.voice h1 {
    background-color: #c30000;
    color: white;
    padding: 20px;
    border-radius: 12px 12px 0 0;
    margin-top: 0;
    box-shadow: inset 0 0 12px rgba(0, 0, 0, 0.3);
}

.voice-controls {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.voice-controls select {
    flex: 1;
    padding: 10px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 6px;
    background: #f9f9f9;
    transition: 0.2s;
    margin: 8px 0;
}

.voice-btn {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.voice-btn button {
    flex: 1;
    padding: 10px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 8px;
    background: #f9f9f9;
    transition: 0.2s;
    margin: 8px;
}

.voice-btn button:hover {
    background: #eee;
}

#speak {
    background-color: #ff4d4d;
    color: white;
    border: none;
}

#speak:hover {
    background-color: #e60000;
}

textarea {
    resize: vertical;
    min-height: 100px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ddd;
}