* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background: #eee;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
}

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    font-size: 80px;
    font-weight: 150 !important;
}

.text-deco-none {
    text-decoration: none;
}

.text-color,
.typed-cursor {
    color: #3e0000;
}

.hero {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
}

/* --------------------------------------*/
.navbar {
    display: flex;
    padding: 1rem 1.75rem;
    position: sticky;
    top: 0;
    z-index: 100;
    transition: transform 0.7s ease-in-out;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.075);
}

.navbar__nav {
    display: flex;
    list-style-type: none;
    padding: 0;
}

.navbar__links-container {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.navbar__links-space {
    padding-left: 3.5rem;
    padding-right: 3.5rem;
}

.navbar--item {
    text-decoration: none;
    font-weight: 600;
    color: #3d0000;
    transition-duration: 0.2s;
}

.highlight {
    transition: all .4s;
    border-radius: 20px;
    position: absolute;
    top: 0;
    left: 0;
    background: lightgreen;
    z-index: -1;
    display: block;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.075);
}