* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background: #eee;
    align-items: center;
    justify-content: start;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    font-size: 80px;
    font-weight: 150 !important;
}

.text-deco-none {
    text-decoration: none;
}

.text-color,
.typed-cursor {
    color: #3e0000;
}

.hero {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
}

/* --==--==--==--==--==--==--== */

.panels {
    display: flex;
    min-height: 75vh;
    overflow: hidden;
    cursor: pointer;
}

.panel {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: black;
    background-size: cover;
    background-position: center;
    color: #fff;
    text-shadow: 2px 2px 2px #000;
    font-size: 20px;
    font-weight: 600;
    transition:
        font-size 0.7s ease-in-out,
        flex 0.7s cubic-bezier(1,-0.33, 0.27, 1.55),
        background 0.2s;
}

.panel>* {
    display: flex;
    flex: 1 0 auto;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 100%;
    transition: transform 0.5s;
    text-transform: uppercase;
}

.panel p:first-child {
    transform: translateY(-100%);
}

.panel p:last-child {
    transform: translateY(100%);
}

.panel.open-active p:first-child {
    transform: translateY(0);
}

.panel.open-active p:last-child {
    transform: translateY(0);
}

.panel p:nth-child(2) {
    font-size: 3rem;
}

.panel.open {
    flex: 5;
    font-size: 40px;
}

.panel1 {
    background-image: url(images/aurora.jpg);
}

.panel2 {
    background-image: url(images/beachy-sunset.jpg);
}

.panel3 {
    background-image: url(images/desert.jpg);
}