* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background: linear-gradient(to right, #3982ff, #001d4f);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.header-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 40px 0 40px 0;
    color: #fff;
    font-size: 80px;
    font-weight: 150 !important;
}

.text-deco-none {
    text-decoration: none;
}

.text-color,
.typed-cursor {
    color: var(--base);
}

.hero {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}

.text-center {
    text-align: center;
}

table {
    border: 2px solid black;
    border-collapse: collapse;
}

tr,th, td{
    border: 2px solid black;
    border-collapse: collapse;
    padding: 4px;
}

.datas {
    display: flex;
    height: 70vh;
}

.names, .people {
    padding: 20px;
    border-radius: 8px;
    background-color: white;
    margin: 8px;
    overflow-y: auto;
    box-shadow: 0 4px 12px #000;
}

