* {
    box-sizing: border-box;
    margin: 0;
}

:root {
    --base: #ffffff;
    --spacing: 20px;
    --blur: 10px;
}


body {
    background: linear-gradient(to right, #3982ff, #001d4f);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.header-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 40px 0 40px 0;
    color: var(--base);
    font-size: 80px;
    font-weight: 150 !important;
}

.text-deco-none {
    text-decoration: none;
}

.text-color,
.typed-cursor {
    color: var(--base);
}

.hero {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}

.controls {
    margin: 8px;
    color: white;
}

.controls label {
    margin-right: 4px;
}

.spacing,
.blur,
.bg-color {
    display: flex;
    padding: 12px 4px;
    align-items: center;
    justify-content: space-between;
}

img {
    width: 50%;
    height: 50%;
    padding: var(--spacing);
    filter: blur(var(--blur));
    background: var(--base);
}